<div class="card card-user">
    <div class="image">
    <img src="../assets/img/damir-bosnjak.jpg" alt="...">
    </div>
    <div class="card-body">
    <div class="author">
        <a href="#">
        <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
        <h5 class="title">Carlos Arzuza</h5>
        </a>
        <p class="description">
            Num. cédula: <strong>106532332</strong>
        </p>
    </div>
    <div class="description text-center">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nombre completo: <strong>Carlos Arzuza</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Num. cédula: <strong>106532332</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Num. cédula cafetera: <strong>106532332</strong>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Nombre predio: <strong>Carlos Arzuza</strong>
            </li>
        </ul>
    </div>
    </div>
    <div class="card-footer">
    <hr>
    <div class="button-container">
        <div class="row">
        <div class="col-lg-3 col-md-6 col-6 ml-auto">
            <h5>5<br><small>Tot. miembros</small></h5>
        </div>
        <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
            <h5>1<br><small>Cédula cafetera</small></h5>
        </div>
        <div class="col-lg-3 mr-auto">
            <h5>1<br><small>Código</small></h5>
        </div>
        </div>
    </div>
    </div>
</div>