<div class="row">
    <div class="col-md-4">
        <app-productor-detalle></app-productor-detalle>
    </div>
    <div class="col-md-8">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Informacion</h5>
            </div>
            <div class="card-body">
                <app-nav-menu-productor></app-nav-menu-productor>
                <br>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#externo">Insumos externos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#interno">Insumos internos</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active show" id="externo">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="card-title">Insumos externos utilizados en la finca</h4>
                                <form>
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <label>Nombre comercial</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Proveedor o fabricante</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Registro ICA</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Composición</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Dosis</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Cantidad aplicada en el ultimo año</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Fecha de aplicación</label>
                                            <input type="date" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Lugar de aplicación</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>  
                                    <div class="row">
                                        <div class="update ml-auto mr-auto">
                                            <button class="btn btn-outline-success">Guardar</button>
                                            <button type="reset" class="btn btn-outline-secondary">Cancelar</button>                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <h4 class="card-title">Listado</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                      <thead class=" text-primary">
                                          <th>Nombre comercial</th>
                                          <th>Proveedor o fabricante</th>
                                          <th>Registro ICA</th>
                                          <th>Composición</th>
                                          <th>Acción</th>
                                      </thead>
                                      <tbody>
                                          <tr>
                                                <td>Comercial 1</td>
                                                <th>Proveedor 1</th>
                                                <td>Registro</td>
                                                <td>composicion</td>
                                                <td>
                                                    <button class="btn btn-outline-info btn-sm">Ver</button>
                                                </td>
                                          </tr>
                                      </tbody>                    
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="interno">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="card-title">Insumos internos preparados en la finca</h4>
                                <form>
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <label>Nombre del insumo</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Materiales usados</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Procedimiento</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Tiempo de praparación</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Metodo de praparación</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Dosis</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Cantidad usada en el ultimo año</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Fecha de aplicación</label>
                                            <input type="date" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Lugar de aplicación</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>  
                                    <div class="row">
                                        <div class="update ml-auto mr-auto">
                                            <button class="btn btn-outline-success">Guardar</button>
                                            <button type="reset" class="btn btn-outline-secondary">Cancelar</button>                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <h4 class="card-title">Listado</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                      <thead class=" text-primary">
                                          <th>Nombre del insumo</th>
                                          <th>materiales usados</th>
                                          <th>Procedimiento</th>
                                          <th>Tiempo de praparación</th>
                                          <th>Acción</th>
                                      </thead>
                                      <tbody>
                                          <tr>
                                                <td>Insumo 1</td>
                                                <th>material 1</th>
                                                <td>Procedimiento</td>
                                                <td>30 min</td>
                                                <td>
                                                    <button class="btn btn-outline-info btn-sm">Ver</button>
                                                </td>
                                          </tr>
                                      </tbody>                    
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>