<div class="row">
    
  <div class="col-md-12 text-right">
      <a [routerLink]="['/usuarioRegistro']"><button class="btn btn-outline-success">Registrar usuario</button></a>
  </div>
  <div class="col-md-12">
    <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar...">
    <hr>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Consultar usuarios</h4>
      </div>
      <div class="card-body" *ngIf="usuarios && usuarios.length">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
                <th>Nombre</th>
                <th>Núm. cédula</th>
                <th>Tipo de usuario</th>
                <th>Usuario</th>
                <th>Email</th>
                <th>Teléfono</th>                    
                <th>Acción</th>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios|filtroUsuario:searchText; index as i ">
                    <th>{{ usuario.nombreCompleto }}</th>
                    <td>{{ usuario.numeroCedula }}</td>
                    <td>{{ usuario.tipoUsuarioNombre }}</td>
                    <td>{{ usuario.usuarioI}}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <td>
                        <a [routerLink]="['/usuarioEditar', usuario.numeroCedula]"><button class="btn btn-outline-success btn-sm">Editar</button></a>
                    </td>
                </tr>
            </tbody>                    
          </table>
        </div>
      </div>
    </div>
  </div>
    
</div>