<ul class="nav nav-tabs">                    
    <li class="nav-item">
        <a [routerLinkActive]="['active']" class="nav-link" [routerLink]="['/productorDatosFamilia', 1]">Datos familia</a>
    </li>
    <li class="nav-item">
        <a [routerLinkActive]="['active']" class="nav-link" [routerLink]="['/productorAgroclimatica', 1]">Agroclimatica</a>
    </li>
    <li class="nav-item">
        <a [routerLinkActive]="['active']" class="nav-link" [routerLink]="['/productorFertilizacionNutricion', 1]">Fertilizacion y nutricion</a>
    </li>
    <li class="nav-item">
        <a [routerLinkActive]="['active']" class="nav-link" [routerLink]="['/productorProduccionPecuariaAgricola', 1]">Produccion pecuaria y agricola </a>
    </li>
</ul>