<div class="row">
    <!--<div class="col-md-12">
        <h1>Consultar personas</h1>
        <p>persona-consulta works!</p>
        <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar...">
        <hr>
    </div>-->
    <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Consultar materias prima</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                    <th>#</th>
                    <th>Nombre</th>
                </thead>
                <tbody>
                    <!--<tr *ngFor="let persona of personas; index as i ">
                        <th>{{ i + 1 }}</th>
                        <td>{{ persona.nombre }}</td>
                    </tr>-->
                    <tr>
                        <th>1</th>
                        <td>Nombre</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>Nombre</td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>Nombre</td>
                    </tr>
                </tbody>                    
              </table>
            </div>
          </div>
        </div>
      </div>
    
</div>

